/*
To change this license header, choose License Headers in Project Properties.
oT change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/05/2016, 10:14:40 PM
    Author     : HP VPRO
*/


.contendor{
    background-color: #4dd0e1;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
    width: 80%;
}
#fotoGrande{

    background-color: #ffffff;

    height: 30%;
}

#imagenBig
{
    width: 100%;
    height: 200px;
}

#imagenItem
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right:  10px;
    margin-bottom:  10px;
    width: 180px;
}
#botonItemProducto
{
    border-radius: 15px 50px 30px;
    background: darkturquoise;

}

div.itemProducto {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
}

.p-description{
    text-align: center;
}

#categoriaBar{
    height: auto;
    float: left;
    width: 20%;
    padding-top: 10px;
}

.itemProducto #descripcion{
    display: inline-block;
    width: 20%;
    float: right;
}

#descripcion{
     display: inline-block;
    width: 60%;
    float: right; 
}

.itemProducto #imagenDescripcion{
    float: left;
    display: inline-block;
    
}



#botonCancelar{
    float: left;
    background-color: #00E676;
}
#cantidad{
    width: 30%;
    float: left;
    
}

#categoria{
    padding-top: 10px;   
    margin-top: 1px;
}

.collapsible-body{
    
      padding-top: 10px;   
    margin-top: 1px; 
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/********CSS BY ALEJANDRO**************************************************/


#formAddGame , #formListar, #formListarEliminar{
    padding-top: 30px;
    display: none;

}

.btnAdmin
{
    width: 90%;
    margin-left: 10%;
    background-color: white !important;
    color: black !important;

}
.btnAdmin:hover
{
    background-color: #e0e0e0 !important;
}

.mouseColor{
    -webkit-transition: background-color 1s;
    cursor: pointer !important;
}

.mouseColor:hover
{
    background-color: #e0e0e0;

}

#contenedorAdmin{
    height: 90%
}

#footerAdmin{
    position: fixed;
    background-color: #b3b3b3;
    height: 10%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    bottom:0;
    left:0;
}

#titleH3{
    text-align: center;
     
}
/********END CSS BY ALEJANDRO**************************************************/